/**
 * Development stylesheet.  Use this file for development purposes by adding this to your 'wp-config.php' file:
 * define( 'SCRIPT_DEBUG', true );
 * This allows you to build large-sized stylesheets with plenty notes and comments. Before releasing, compress
 * this file and replace the compressed CSS in the 'style.css' file.
 * @link http://www.cssdrive.com/index.php/main/csscompressor
 */
 
/* =CSS Resets (Normalize). @link: https://raw.github.com/necolas/normalize.css/master/normalize.css
-------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{ display:block}audio,canvas,video{ display:inline-block; *display:inline; *zoom:1}audio:not([controls]){ display:none; height:0}[hidden]{ display:none}html{ font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}html,button,input,select,textarea{ font-family:sans-serif}body{ margin:0}a:focus{ outline:thin dotted}a:hover,a:active{ outline:0}h1{ font-size:2em; margin:0.67em 0}h2{ font-size:1.5em; margin:0.83em 0}h3{ font-size:1.17em; margin:1em 0}h4{ font-size:1em; margin:1.33em 0}h5{ font-size:0.83em; margin:1.67em 0}h6{ font-size:0.75em; margin:2.33em 0}abbr[title]{ border-bottom:1px dotted}b,strong{ font-weight:bold}blockquote{ margin:1em 40px}dfn{ font-style:italic}mark{ background:#ff0; color:#000}p,pre{ margin:1em 0}pre,code,kbd,samp{ font-family:monospace,serif; _font-family:'courier new',monospace; font-size:1em}pre{ white-space:pre; white-space:pre-wrap; word-wrap:break-word}q{ quotes:none}q:before,q:after{ content:''; content:none}small{ font-size:75%}sub,sup{ font-size:75%; line-height:0; position:relative; vertical-align:baseline}sup{ top:-0.5em}sub{ bottom:-0.25em}dl,menu,ol,ul{ margin:1em 0}dd{ margin:0 0 0 40px}menu,ol,ul{ padding:0 0 0 40px}nav ul,nav ol{ list-style:none; list-style-image:none}img{ border:0; -ms-interpolation-mode:bicubic}svg:not(:root){ overflow:hidden}figure{ margin:0}form{ margin:0}fieldset{ border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em}legend{ border:0; padding:0; white-space:normal; *margin-left:-7px}button,input,select,textarea{ font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle}button,input{ line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{ cursor:pointer; -webkit-appearance:button; *overflow:visible}button[disabled],input[disabled]{ cursor:default}input[type="checkbox"],input[type="radio"]{ box-sizing:border-box; padding:0; *height:13px; *width:13px}input[type="search"]{ -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{ -webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{ border:0; padding:0}textarea{ overflow:auto; vertical-align:top}table{ border-collapse:collapse; border-spacing:0}.alignleft,.left{float:left;margin:1em 1.25em 0.5em 0}.alignright,.right{float:right;margin:1em 0 0.5em 1.25em}.aligncenter,.center{display:block;margin:1em auto}.alignnone,.block{clear:both;margin:1em 0}.clear{clear:both}blockquote.alignleft,blockquote.alignright{width:33%}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}


/* =Layout for all devices
-------------------------------------------------------------- */

/* Drop-downs. */
div.menu ul,nav.menu ul{margin:0;padding:0;list-style:none;line-height:1.0}div.menu ul ul,nav.menu ul ul{position:absolute;top:-999em;width:10em}div.menu ul ul li,nav.menu ul ul li{width:100%}div.menu li:hover,nav.menu li:hover{visibility:inherit}div.menu li,nav.menu li{float:left;position:relative}div.menu a,nav.menu a{display:block;position:relative}div.menu li:hover ul,div.menu li.sfHover ul,nav.menu li:hover ul,nav.menu li.sfHover ul{left:0;top:2em;z-index:99}div.menu li:hover li ul,div.menu li.sfHover li ul,nav.menu li:hover li ul,nav.menu li.sfHover li ul{top:-999em}div.menu li li:hover ul,div.menu li li.sfHover ul,nav.menu li li:hover ul,nav.menu li li.sfHover ul{left:10em;top:0}div.menu li li:hover li ul,div.menu li li.sfHover li ul,nav.menu li li:hover li ul,nav.menu li li.sfHover li ul{top:-999em}div.menu li li li:hover ul,div.menu li li li.sfHover ul,nav.menu li li li:hover ul,nav.menu li li li.sfHover ul{left:10em;top:0}

/* Gallery. */
.gallery{display:block;clear:both;overflow:hidden;margin:0 auto}.gallery .gallery-row{display:block;clear:both;overflow:hidden;margin:0}.gallery .gallery-item{overflow:hidden;float:left;margin:0;text-align:center;list-style:none;padding:0}.gallery .gallery-item .gallery-icon img{width:auto;max-width:89%;height:auto;padding:1%;margin:0 auto}.gallery-caption{margin-left:0}.gallery .col-0{width:100%}.gallery .col-1{width:100%}.gallery .col-2{width:50%}.gallery .col-3{width:33.33%}.gallery .col-4{width:25%}.gallery .col-5{width:20%}.gallery .col-6{width:16.66%}.gallery .col-7{width:14.28%}.gallery .col-8{width:12.5%}.gallery .col-9{width:11.11%}.gallery .col-10{width:10%}.gallery .col-11{width:9.09%}.gallery .col-12{width:8.33%}.gallery .col-13{width:7.69%}.gallery .col-14{width:7.14%}.gallery .col-15{width:6.66%}.gallery .col-16{width:6.25%}.gallery .col-17{width:5.88%}.gallery .col-18{width:5.55%}.gallery .col-19{width:5.26%}.gallery .col-20{width:5%}.gallery .col-21{width:4.76%}.gallery .col-22{width:4.54%}.gallery .col-23{width:4.34%}.gallery .col-24{width:4.16%}.gallery .col-25{width:4%}.gallery .col-26{width:3.84%}.gallery .col-27{width:3.7%}.gallery .col-28{width:3.57%}.gallery .col-29{width:3.44%}.gallery .col-30{width:3.33%}

/* Body. */
body {
	font: normal normal normal 1em/1.5em Georgia, Palatino, "Palatino Linotype", "Book Antiqua", serif;
	border-top: 5px solid #ca4842;
	border-bottom: 5px solid #ca4842;
	color: #666;
	width: 100%;
	word-wrap: break-word;
}

/* Images, embed. */
img,
object,
embed {
	max-width: 100%;
}
img {
	height: auto;
}

/* Links. */
a,
a:visited {
	color: #ca4842;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	color: #b7322c;
	text-decoration: underline;
}

/* Transitions. */
a,
input[type=submit],
input[type=button],
input[type=text],
textarea {
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* Headers. */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
	margin-top: 0;
}
h1 {
	font-size: 1.75em; /* 28px / 16px = 1.75  */
	line-height: 1.1;
}
h2 {
	line-height: 1.2;
}
h4 {
	font-size: 1.0625em; /* 17px / 16px = 1.0625 */
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.9375em; /* 15px / 16px = 0.9375 */
}

/* Lists. */
ul {
	list-style-type: circle;
}
ul,
ol {
	padding: 0 0 0 2em;
}
ol ol,
ul ul {
	margin: 0;
	padding: 0 0 0 1.5em;
} 
dl dt {
	font-size: .95em;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
dl dd {
	color: #777;
}

/* Blockquotes. */
blockquote {
	background: #e9edf1;
	border: 1px solid #e5e5e5;
	border-left: 0.375em solid #70a0b2;
	color: #666;
	font-style: italic;
	margin: 1em 0;
	padding: 1% 2%;
}
blockquote blockquote {
	padding: 0.5% 2%;
}

/* Code */
code {
	background: #f7f7f7;
	color: #555;
	padding: 0 0.1875em;
}
pre {
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	color: #555;
	font-size: .9375em;
	padding: 3%;
}
pre code {
	padding: 0;
}

/* Acronyms and abbreviations */
acronym,
abbr {
	border-bottom: 1px dotted #999;
}

/* Tables. */
table {
	background: #fff;
	margin: 0 0 1em 0;
	width: 100%;
}
th {
	background: #70a0b2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	color: #fff;
	padding: .5em 2%;
	text-align: left;
}
td,
tbody th {
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	font-size: .9375em;
	padding: .5em 2%;
}
tr:hover td {
	background: #e9edf1;
}
tr:hover th {
	background: #e9edf1;
	color: #666;
}
thead th,
tfoot th,
thead tr:hover th,
tfoot tr:hover th {
	background: #e9edf1;
	color: #666;
}

/* WP calendar. */
#wp-calendar th,
#wp-calendar td {
	font-weight: normal;
	text-align: center;
}
#wp-calendar tr:hover td {
	background: transparent;
}
#wp-calendar td.pad,
#wp-calendar #prev,
#wp-calendar #next {
	background: transparent;
}
#wp-calendar #prev {
	text-align: left;
}
#wp-calendar #next {
	text-align: right;
}

/* Horizontal rule. */
hr {
	background: #e9edf1;
	height: 1px;
}


/* =Images
-------------------------------------------------------------- */

.hfeed img,
.avatar {
	height: auto;
}

/* Avatars. */
.avatar {
	float: left;
	margin: 0 1em .5em 0;
}
.format-status .avatar {
	margin-bottom: 1.5em;
	width: 80px;
	height: 80px;
}

/* Captions. */
.wp-caption {
	max-width: 100%;
	overflow: visible;
	padding: 0;
}
.wp-caption img {
	margin: 0;
	width: 100%;
}
.wp-caption-text {
	background: #e9edf1;
	border-bottom: 1px solid #e5e5e5;
	color: #555;
	font: normal normal normal 0.875em/1.6 "Helvetica Neue", Helvetica, sans-serif;
	margin: -0.357142857em 0 0 0; /* 5px / 14px = 0.357142857 */
	max-width: 100%;
	padding: 0.571428571em 0.714285714em;
	text-align: center;
}

/* Thumbnails. */
.thumbnail,
.path-thumbnail {
	float: left;
	margin: 0 1.5em .5em 0;
}
.thumbnail {
	max-width: 150px;
	max-height: 150px;
}
.path-smaller-thumbnail {
	float: left;
	margin: 0 1em 0.5em 0;
	max-width: 80px;
	max-height: 80px;
}

/* Galleries. */
.gallery {
	margin-bottom: 1.5em !important;
}
.gallery-caption {
	color: #555;
	font: normal normal normal 0.875em/1.4 "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 0.357142857em;
}
.singular-attachment .gallery-caption {
	display: none; /* Hides gallery captions on singular-attachment views. */
}
.hentry .gallery .gallery-icon .attachment-thumbnail {
	padding: 2%;
}
.singular-attachment .hentry .gallery .gallery-icon .attachment-thumbnail {
	padding: 3%;
}

/* WP smiley. */
img.wp-smiley {
	background: transparent !important;
	border: none !important;
	margin: 0 !important;
	max-height: 0.75em !important;
	padding: 0 !important;
}

/* Container. */
#container {
}

/* Primary and secondary menu. */
#menu-primary,
#menu-secondary {
	display: none;
}

/* Mobile menus. */
nav#menu-primary-mobile ul,
nav#menu-secondary-mobile ul {
	list-style-type: circle;
	margin-top: 0.5em;
}
nav#menu-primary-mobile ul ul,
nav#menu-secondary-mobile ul ul {
	margin-top: 0;
}
nav#menu-primary-mobile li a,
nav#menu-secondary-mobile li a {
	display: block;
	padding: 0.625em 0;
}
#menu-primary-mobile,
#menu-secondary-mobile,
#menu-primary-title,
#menu-secondary-title {
	display: block;
}
#menu-primary-mobile,
#menu-secondary-mobile {
	margin-top: 1em;
}
#menu-primary-title {
	background: #404040;
	margin: 0;
	padding: 0 2%;
	position: relative;
	width: 96%;
	height: 2.25em; /* 36px / 16px = 2.25 */
}
#menu-primary-title .wrap {
	padding-top: 0.2em;
}
h3.menu-primary-mobile-title,
h3.menu-secondary-mobile-title {
	margin: 0.5em 0 0 0;
}
#menu-primary-title a {
	color: #f6f6e8;
	font: normal normal normal 0.75em/2em Arial, "Helvetica Neue", Helvetica, sans-serif; /* 12px / 16px = 0.75 */
	padding: 0.75em 1.5em 1em;
}
#menu-secondary-title {
	margin: 0 0 0.825em 0;
	padding: 0 2%;
	position: relative;
	width: 96%;
}
#menu-secondary-title a {
	background: #ca4842;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font: normal normal normal 0.6875em/1.2em Arial, Verdana, sans-serif;
	letter-spacing: 1px;
	padding: 0.909090909em 1.81818182em; /* 10px / 11px = 0.909090909 and 20px / 11px = 1.81818182  */
	text-transform: uppercase;
}
#menu-primary-title a:hover,
#menu-secondary-title a:hover {
	text-decoration: none;
}
	
.menu-primary-anchor:after,
.menu-secondary-anchor:after,
.search-primary-anchor:after {
    content: " ▼";
}
.menu-secondary-anchor:after {
	font-size: 1em;
}

/* Mobile search. */
#search-primary-mobile .search {
	padding: 1em 0 0.25em;
}

/* Center. */
#menu-primary-title,
#menu-secondary-title,
#header,
#menu-primary-title .search {
	text-align: center;
}

/* Header. */
#header {
	margin: 0 auto;
	padding: 0 2% 0.25em;
	position: relative;
	overflow: hidden;
	width: 96%;
	z-index: 88;
}

/* Branding. */
#branding {
	padding: 0.5em 0 1em;
	position: relative;
	z-index: 98;
}

/* Site title and description. */
#site-title {
	font: 1.25em/1.35 'Oswald', Georgia, sans-serif;
	margin: 0;
}
#site-title a {
	color: #70a0b2;
}
#site-description {
	color: #70a0b2;
	font: italic 1em/1.25em Georgia,serif;
	margin: 0;
	padding-top: 0.5em;
	text-transform: none;
}
.custom-header #site-title span {
	display: none;
}

/* Sidebars. */
#sidebar-primary .widget,
#sidebar-secondary .widget,
#sidebar-before-content .widget,
#sidebar-subsidiary .widget {
	color: #777;
	font-size: 0.9375em;
	margin: 0 0 1em 0;
}
#sidebar-before-content {
	margin: 0 0 0.825em 0;
}
#sidebar-subsidiary {
	margin: 0.825em 0 0 0;
}
#sidebar-before-content .widget,
#sidebar-subsidiary .widget {
	padding: 1em 0 0 0;
}
	
/* Main. */
#main,
#main .wrap {
	margin: 0;
	overflow: hidden;
	padding: 0 2%;
	width: 96%;
}
#main .wrap {
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Primary and secondary sidebar. */
#sidebar-primary,
#sidebar-secondary {
	margin: 0 0 1em 0;
	padding: 0;
}

/* Breadcrumbs. */
.breadcrumbs {
	color: #555;
	font-size: .875em;
	display: block;
	margin: 0.5em 0;
}
.breadcrumbs .trail-before {
	margin-right: 0.5em;
}
.breadcrumbs .trail-end {
	color: #999;
	font-style: italic;
}


/* =Posts
-------------------------------------------------------------- */

.hentry {
	border-bottom: 1px solid #e9edf1;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}
.singular .hentry {
	border-bottom: none;
	margin-bottom: 2em;
	padding-bottom: 0;
}
.singular-attachment .hentry {
	text-align: center;
}
.page-template-path-slider .hentry,
.page-template-most-popular .hentry,
.page-template-most-popular-last-30-days .hentry,
.page-template-most-popular-by-comments .hentry,
.page-template-most-popular-by-year .hentry,
.page-template-most-popular-by-month .hentry {
	border-bottom: 1px solid #e9edf1;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}
.taxonomy-post_format-video .hentry {
	background: #e9edf1;
	padding: 3%;
}

/* Post titles. */
.entry-title {
	margin-bottom: 1em;
}
.singular .entry-title,
.error-404 .entry-title {
	margin-bottom: 0;
	padding-bottom: .5em;
}
.singular-post .entry-title,
.format-standard .entry-title,
.singular.attachment-image .entry-title {
	margin-bottom: .5em;
	padding-bottom: 0;
}
.singular .entry-title a {
}
.home .format-link .entry-title,
.archive .format-link .entry-title {
	margin-bottom: 1em;
}
.singular-attachment .entry-title {
	text-align: center;
}

/* Bylines. */
.byline {
	color: #555;
	font: normal normal normal .875em/1.5 Georgia, serif;
	margin-bottom: 1em;
}
.hfeed-more-articles .byline {
	margin-bottom: 0.25em;
}
	
/* Entry meta. */
.entry-meta {
	clear: both;
	color: #555;
	font: normal normal normal .875em/1.5  Georgia, serif;
}
.singular .entry-meta .category,
.singular .entry-meta .post_tag {
	display: block;
}

/* Loop meta. */
.loop-meta {
	border-bottom: 1px solid #e9edf1;
	margin-bottom: 1em;
	overflow: hidden;
}
.blog .loop-meta {
	border-bottom: none;
	margin-bottom: 0;
}
.loop-meta .loop-title {
	color: #555;
}
.loop-meta .loop-description {
	color: #999;
	font-style: italic;
}


/* =Pagination and prev/next links
-------------------------------------------------------------- */

.pagination, .page-links, .comment-pagination {
	clear: both;
	font-size: 0.875em;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 1.71428571em 0;
	overflow: hidden;
}
.pagination {
	margin-bottom: 1.71428571em;
	padding-bottom: 0.142857143em;
	text-align: center;
}
.page-links {
	padding: 0.5em 0 0 0;
}
.pagination .page-numbers,
.page-links a {
	background: #ca4842;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 0.714285714em 0 0;
	padding: 0.857142857em 1.07142857em;
	text-transform: uppercase;
}
.pagination .next {
	margin-right: 0;
}
.pagination .meta-nav,
.loop-nav .meta-nav {
	font-size: 0.875em;
}
.page-links a {
	margin: 0 0.214285714em;
	padding: 1em 1.5em;
}
.entry-summary .page-links a {
	padding: 0.75em 1em;
}
.pagination .page-numbers:hover,
.page-links a:hover {
	background: #b7322c;
}
.pagination .dots:hover {
	background: #b7322c;
}
.pagination .current {
	background: #b7322c;
}
.loop-nav,
.loop-pagination {
	font-size: 0.875em;
	font-weight: bold;
	line-height: 1em;
	margin: 1em 0 2em 0;
	overflow: hidden;
}
.loop-nav .previous,
.loop-nav .next {
	background: #ca4842;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	float: left;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 1em 1.5em;
}
.loop-nav .next {
	float: right;
	text-align: right;
}
.loop-nav a:hover {
	text-decoration: none;
}
.loop-nav a:hover span {
	background: #b7322c;
}


/* =Widgets
-------------------------------------------------------------- */

.widget {
	color: #555;
}
.widget-title {
	color: #555;
}
.widget img {
	max-width: 100%;
}

/* Search widget. */
.widget-search {
	padding-bottom: 1.5em !important;
}
#sidebar-header .widget-search {
	padding-bottom: 1em !important;
} 
.widget-search input[type="text"],
input[type="text"],
input[type="password"] {
	background: #e9edf1;
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	display: block;
	padding: 0.5em;
	width: 100%;
}
#sidebar-header .widget-search input[type="text"],
#sidebar-header input[type="text"] {
	border: 1px solid #f2f2f2;
}
.widget-search input[type="text"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
	background: #fff;
}
.widget-search input[type="submit"],
.widget-search label {
	display: none;
}
input[type="submit"] {
	background: #ca4842;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: block;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin: 0.714285714em 0;
	padding: 0.857142857em 1.07142857em;
}
input[type="submit"]:hover {
	background: #b7322c;
}

/* For most viewed widget */
.widget-most-viewed .hentry:after {
    clear: both;
    content: "";
    display: table;
}
.widget-most-viewed .byline {
	margin-top: 1em;
}


/* =Comments
-------------------------------------------------------------- */

#comments-number {
	border-bottom: 1px solid #e9edf1;
	padding-bottom: 1em;
}

/* Comments closed. */
.comments-closed {
	color: #555;
	padding: 0 1.5em;
}

/* Comment pagination. */
.comments-nav {
	float: right;
	line-height: 2em;
	margin: 0 0 1em 0;
	position: relative;
}

/* Comment list. */
.comment-list,
.comment-list ol.children {
	list-style: none;
	margin: 0 0 2em 0;
}
ol.comment-list {
	padding: 0;
}
.comment-list ol.children {
	margin-left: 1%;
	margin-bottom: 0;
	padding: 0;
}
.comment-list li.comment,
.comment-list li.pingback,
.comment-list li.trackback {
	border-bottom: 1px solid #e9edf1;
	clear: both;
	margin-bottom: 1.5em;
	overflow: hidden;
}
.comment-list li li.comment {
	border-bottom: none;
	margin-bottom: 0;
	padding: 1.5em 0 0 0;
	overflow: hidden; /* IE7 */
}

/* Avatars. */
.comment-list .avatar {
	float: none;
	margin: 0 1.5em 1.5em 0;
	width: 80px;
	height: 80px;
}
.comment-list li li .avatar {
	margin-bottom: 0.375em;
	padding: 0.175em;
	width: 60px;
	height: 60px;
}

/* Comment meta. */
.comment-meta {
	color: #555;
	font: normal normal normal 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 0.714285714em;
}
.comment-list li.pingback .comment-meta,
.comment-list li.trackback .comment-meta {
	margin-bottom: 1.5em;
}
.comment-meta .published abbr {
	font-style: italic;
}
.comment-author {
	display: block;
}
.comment-author cite {
	font-weight: bold;
}
.pingback .comment-author cite,
.trackback .comment-author cite {
	font-style: italic;
}
.comment-reply-link {
}

/* Comment text. */
.comment-text {
	overflow: hidden;
}
.comment-list li li.comment .comment-text {
	overflow: visible;
}
.comment-list li li.has-avatar .comment-text {
	margin-left: 0;
}
.comment-text .moderation {
	font-style: italic;
	color: #555;
}

/* Comment note. */
.comment-note {
	font-weight: bold;
}

/* After singular sidebar. */
#sidebar-after-singular {
	border-top: 1px solid #e9edf1;
	margin-bottom: 1em;
	padding-top: 1em;
}


/* =Comment form
-------------------------------------------------------------- */

#respond {
	margin-bottom: 1.5em;
	overflow: hidden;
}

/* Cancel reply link. */
#reply-title small a {
	font: bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	margin-left: 1em;
}

/* Comment form labels. */
#respond label {
	font: normal 1em/1.8 "Helvetica Neue", Helvetica, sans-serif;
}
#respond p.form-email label {
	padding: 0;
}
#respond span.required {
	font-size: 1em;
	font-weight: bold;
}

/* Comment form inputs and textarea elements. */
#respond input[type="text"],
#respond textarea {
	background: #e9edf1;
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	display: block;
	padding: 0.5em;
	width: 100%;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	background: #fff;
}

/* Submit button. */
#respond #submit {
	background: #ca4842;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font: normal 0.875em/1.2 "Helvetica Neue",Helvetica,sans-serif;
	float: right;
	margin: 0 0 1em 1em;
	padding: 1em 1.5em;
}
#respond #submit:hover {
	background: #b7322c;
}


/* =Footer area
-------------------------------------------------------------- */

/* Footer. */
#footer {
	font-size: .875em;
	margin: 0;
	padding: 0 2%;
	width: 96%;
}
#footer .wrap {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 2%;
	width: 96%;
}
/* Copyright and credit in footer. */
#footer .copyright,
#footer .credit {
	text-align: center;
}
.top:after {
    content: " ▲";
}

/* Subsidiary menu. */
#menu-subsidiary {
	background: #b2cecf;
	padding: 0 2%;
	position: relative;
	margin: 0;
	overflow: hidden;
	width: 96%;
	z-index: 98;
}
#menu-subsidiary .wrap {
	margin: 0 auto;
	width: 100%;
}
#menu-subsidiary .menu {
    display: table;
    margin: 0 auto;
}
#menu-subsidiary ul {
	padding: 0;
}
#menu-subsidiary li {
	display: inline;
}
#menu-subsidiary li a {
	color: #006699;
	font: normal normal normal 0.75em/1.5625em Arial, "Helvetica Neue", Helvetica, sans-serif; /* 12px / 16px = 0.75 and 25px / 16px = 1.5625 */
	padding: 0.5em 1em;
}
#menu-subsidiary li.current-menu-item a {
	color: #ca4842; 
}

/* Author profile. */
.singular-post .author-profile {
	border: 1px solid #e9edf1;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 4%;
}
.singular-post .author-co-profile {
	overflow: hidden;
}
p.twitter {
	margin: 1em 0 0 0;
}
p.multi-author {
	margin: 1em 0;
}


/* =Gravity Forms CSS. @link: http://www.rocketgenius.com/gravity-forms-css-targeting-specific-elements/
-------------------------------------------------------------- */

.gform_wrapper ul {
	background: transparent;
	list-style: none;
	margin: 0;
	padding: 0;
}
body .gform_wrapper .gform_heading {
	margin-bottom: 1em;
	width: 100%;
}
body .gform_wrapper .gform_heading .gform_title,
body .gform_wrapper .gform_body .gform_fields .gsection .gsection_title {
	font-weight: normal;
	margin: 0.625em 0; /* 10px / 16px = 0.625 */
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_description,
body .gform_wrapper .gform_body .gform_fields .gsection .gsection_description,
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex label {
	color: #555;
	font: normal normal normal 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	padding: 0.625em 0 0; /* 10px / 16px = 0.625 */
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex label {
	padding: 0.25em 0 0.625em; /* 4px / 16px = 0.25 and 10px / 16px = 0.625 */
}
body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=url],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=number],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=password],
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
	background: #e9edf1;
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #555;
	font-size: 0.875em; /* 14px / 16px = 0.875 */
	display: block;
	padding: 0.5em;
}
body .gform_wrapper .gform_body .gform_fields .gfield input[type=text]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=url]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=number]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield input[type=password]:focus,
body .gform_wrapper .gform_body .gform_fields .gfield textarea:focus {
	background: #fff;
} 
body .gform_wrapper .gform_body .gform_fields .gfield select {
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: normal normal normal 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	padding: 0.25em 0; /* 4px / 16px = 0.25 */
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_checkbox li input[type=checkbox],
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_radio li input[type=radio] {
	margin-top: 0.3125em; /* 5px / 16px = 0.3125 */
}
body .gform_wrapper table.gfield_list th,
body .gform_wrapper table.gfield_list td {
	padding: 0.5em 2%;
}
body .gform_wrapper table.gfield_list tr:hover td {
	background: none;
}
body .gform_wrapper .gform_body .gform_page_footer .gform_next_button,
body .gform_wrapper .gform_body .gform_page_footer .gform_previous_button {
	background: #ca4842;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	color: #fff;
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
	float: left;
	margin-bottom: 0.625em; /* 10px / 16px = 0.625 */
	padding: 1em 1.5em;
}
body .gform_wrapper .gform_body .gform_page_footer .gform_next_button {
	float: right;
}
body .gform_wrapper .gform_body .gform_page_footer .gform_next_button:hover,
body .gform_wrapper .gform_body .gform_page_footer .gform_previous_button:hover {
	background: #b7332c;
}
body .gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	font-size: 1.1em;
}
body .gform_wrapper .gform_page_footer .button.gform_button {
	clear: both;
}
body #gforms_confirmation_message {
	background: #e9edf1;
	border: 1px solid #e5e5e5;
	padding: 2em;
}
body .ui-datepicker-div,
body .ui-datepicker-inline,
body #ui-datepicker-div {
	font: normal normal bold 0.875em/1.2 "Helvetica Neue", Helvetica, sans-serif;
}


/* =Social Path Plugin CSS 
-------------------------------------------------------------- */

#social-media {
	margin: 0.625em 0;
}
.fb-like, .tweet, .google {
	display: inline;
	padding-right: 0.625em;
}
body .fb_edge_widget_with_comment{
	bottom: 2px;
}


/* =Pullquote Shortcode Plugin CSS
-------------------------------------------------------------- */

.pullquote {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	color: #666;
	font-size: 1.125em; /* 18px / 16px = 1.125 */
	font-style: italic;
	line-height: 1.875em; /* 18px / 16px = 1.875 */
	margin: 0.625em auto; 
	padding: 0.625em;
	text-align: center;
	max-width: 12.5em; /* 200px / 16px = 12.5 */
}


/* =Layout for tablets version 
-------------------------------------------------------------- */

@media only screen and (min-width: 49em) {

/* WP calendar. */
#sidebar-subsidiary #wp-calendar th,
#sidebar-subsidiary #wp-calendar td {
	padding: 2px 1px;
}

/* Primary menu. */
#menu-primary {
	background: #404040;
	display: block;
	padding: 0 2%;
	position: relative;
	margin: 0;
	width: 96%;
	height: 2.25em; /* 36px / 16px = 2.25 */
	z-index: 98;
}
#menu-primary .wrap {
	margin: 0 auto;
	width: 100%;
}
#menu-primary ul {
	padding: 0;
}
#menu-primary li {
	background: #404040;
	display: inline;
}
#menu-primary li a {
	color: #fff;
	font: normal normal normal 0.75em/2em Arial, "Helvetica Neue", Helvetica, sans-serif; /* 12px / 16px = 0.75 */
	padding: 0.416666667em 1.16666667em 0.583333333em; /* 7px / 12px = 0.583333333 and 14px / 12px = 1.16666667 */
}
#menu-primary li.current-menu-item {
	background: #e9edf1;
	color: #ca4842;
}
#menu-primary li.current-menu-item a {
	color: #ca4842;
}
#menu-primary li a:hover,
#menu-primary li.sfHover a {
	background: #e9edf1;
	color: #ca4842;
	text-decoration: none;
}
#menu-primary li li a,
#menu-primary li.sfHover li a,
#menu-primary li li.sfHover li a {
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	color: #ca4842;
	padding-left: 1.16666667em; /* 14px / 12px = 1.16666667 */
	text-transform: none;
}
#menu-primary li li.current-menu-item a,
#menu-primary li li.sfHover li.current-menu-item a,
#menu-primary li li a:hover,
#menu-primary li li.sfHover a,
#menu-primary li li.sfHover li a:hover {
	color: #404040;
}

/* Drop-down styles */
#menu-primary li:hover ul,
#menu-primary li.sfHover ul {
	top: 2.25em; /* 36px / 16px = 2.25 */
}
#menu-primary li:hover li ul,
#menu-primary li.sfHover li ul {
	top: -999em;
}
#menu-primary li li:hover ul,
#menu-primary li li.sfHover ul {
	margin-left: 0;
	padding-bottom: 0;
	top: 0;
}
	
/* Sub-nav indicator. */
#menu-primary a.sf-with-ul {
	padding-right: 2.33333333em; /* 28px / 12px = 2.33333333 */
}
#menu-primary li .sf-sub-indicator {
	background: url('images/menu-plus.png') no-repeat 0 0;
	overflow: hidden;
	position: absolute;
	top: 1.16666667em; /* 14px / 12px = 1.16666667 */
	right: 1em; /* 12px / 12px = 1 */
	width: 6px;
	height: 6px;
	text-indent: -9999em;
}
#menu-primary li a:hover .sf-sub-indicator,
#menu-primary li.sfHover .sf-sub-indicator,
#menu-primary li.current-menu-item .sf-sub-indicator {
	background-position: 0 -6px;
}
#menu-primary li ul li .sf-sub-indicator,
#menu-primary li ul li.current-menu-item li .sf-sub-indicator {
	background-position: 0 -6px !important;
	top: 1.41666667em; /* 17px / 12px = 1.41666667 */
	width: 6px;
	height: 6px;
}

/* Search form. */
#menu-primary form {
	overflow: hidden;
	width: 10.62500em; /* 170px / 16px = 10.62500 */
	float: right;
	margin-top: 0.3125em; /* 5px / 16 px = 0.3125 */
}
#menu-primary input[type="text"] {
	float: right;
	width: 9.16666667em; /* 110 px / 12 px = 9.16666667 */
	margin: 0; /* Chrome */
	padding: 5px 0 6px 9px;
	font-style: italic;
	font-size: 0.75em; /* 12 px / 16 px = 0.75 */
	background: #e9edf1;
	border: none;
}
#menu-primary input[type="text"]:focus {
	width: 14.1666667em; /* 170 px / 12 px = 14.1666667 */
	background-color: #fff;
}
#menu-primary .search-submit {
	display: none;
}

/* Menu secondary. */
#menu-secondary {
	display: block;
	padding: 0 2% 1em;
	width: 96%;
	height: 2em; /* 32px / 16px = 2 */
}
#menu-secondary .wrap {
	margin: 0 auto;
}
#menu-secondary ul {
	padding: 0;
}
#menu-secondary li {
	display: inline;
	margin-left: 1em;
}
#menu-secondary li:first-child {
	margin-left: 0;
}
#menu-secondary li a {
	color: #ca4842;
	font: normal normal normal 0.6875em/1.2em Arial, Verdana, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0.363636364em; /* 4px / 11px = 0.363636364 */
	padding: 0.909090909em 1.81818182em; /* 10px / 11px = 0.909090909 and 20px / 11px = 1.81818182  */
	text-transform: uppercase;
}
#menu-secondary li li a {
	margin-bottom: 0;
}
#menu-secondary li li {
	margin-left: 0;
}
#menu-secondary li.current-menu-item a,
#menu-secondary li a:hover,
#menu-secondary li.sfHover a {
	background: #ca4842;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}
#menu-secondary li a:hover,
#menu-secondary li.sfHover a {
	text-decoration: none;
}
#menu-secondary li li a,
#menu-secondary li.sfHover li a,
#menu-secondary li li.sfHover li a {
	background: #e9edf1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #ca4842;
	border-bottom: 1px solid #fff;
	padding-left: 1.81818182em; /* 20px / 11px = 1.81818182 */
}
#menu-secondary li li.current-menu-item a,
#menu-secondary li li.sfHover li.current-menu-item a {
	color: #404040;
}
#menu-secondary li li a:hover,
#menu-secondary li li.sfHover a,
#menu-secondary li li.sfHover li a:hover {
	background: #fff;
	color: #404040;
}

/* Drop-down styles. */
#menu-secondary li:hover ul,
#menu-secondary li.sfHover ul {
	top: 2.0625em; /* 33px / 16px = 2.0625 */
}
#menu-secondary li:hover li ul,
#menu-secondary li.sfHover li ul {
	top: -999em;
}
#menu-secondary li li:hover ul,
#menu-secondary li li.sfHover ul {
	margin-left: 0;
	padding-bottom: 0;
	top: 0;
}
	
/* Sub-nav indicator. */
#menu-secondary a.sf-with-ul {
	padding-right: 2.54545455em; /* 28px / 11px = 2.54545455 */
}
#menu-secondary li .sf-sub-indicator {
	background: url('images/menu-plus.png') no-repeat 0 0;
	background-position: 0 -6px;
	overflow: hidden;
	position: absolute;
	top: 1.18181818em; /* 13px / 11px = 1.18181818 */
	right: 1.09090909em; /* 12px / 11px = 1.09090909 */
	width: 6px;
	height: 6px;
	text-indent: -9999em;
}
#menu-secondary li a:hover .sf-sub-indicator, 
#menu-secondary li.sfHover .sf-sub-indicator,
#menu-secondary li.current-menu-item .sf-sub-indicator {
	background-position: 0 -12px;
}
#menu-secondary li ul li .sf-sub-indicator,
#menu-secondary li ul li.current-menu-item li .sf-sub-indicator {
	background-position: 0 -6px !important;
	top: 1.18181818em; /* 13px / 11px = 1.18181818 */
	width: 6px;
	height: 6px;
}

/* Width. */
#menu-primary .wrap,
#menu-secondary .wrap,
#main .wrap,
#header,
#sidebar-subsidiary .wrap,
#menu-subsidiary .wrap {
	max-width: 60em;
}
#footer .wrap {
	max-width: 68.5714286em; /*60 * ( 16 px / 14 px ) = 68.5714286 */
	padding-bottom: 1em;
}

/* Mobiles menus. */
#menu-primary-mobile,
#menu-secondary-mobile,
#menu-primary-title,
#menu-secondary-title {
	display: none;
}

#sidebar-description {
	float: right;
	padding: 1em 0;
}

/* Header. */
#header {
	padding: 1em 2%;
}
.custom-header #header {
	padding: 0.5em 2%;
}

/* Center to left align. */
#header {
	text-align: left;
}

/* Site title. */
#site-title {
	float: left;
	font-size: 2em; /* 32px / 16px = 2 */
	line-height: 1.125em; /* 36px / 32px = 1.12500 */
	margin-right: 4%;
	width: 32%;
}
#site-description {
	float: left;
	font-size: 1em;
	line-height: 1.25em; /* 20px / 16px = 1.25 */
	padding-top: 0.8125em; /* 13px / 16px = 0.8125 */
	width: 64%;
}
.custom-header #site-description {
	padding-top: 1.375em;
}

/* Before content sidebar. */
#sidebar-before-content {
	margin: 3px 0 0.825em 0;
}
#sidebar-before-content .widget {
	float: left;
	margin-right: 4%;
	width: 46%;
}

/* Breadcrumbs. */
.breadcrumbs {
	margin: 1em 0 1.5em;
}

/* Image. */
img {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	border: 1px solid #e9edf1;
	padding: 4px;
}
.thumbnail {
	max-width: 160px; /* 4px padding and 1px border left and right. */
	max-height: 160px;
}
.path-smaller-thumbnail {
	max-width: 90px; /* 4px padding and 1px border left and right. */
	max-height: 90px;
}
#site-title img {
	border: none;
	padding: 0;
}

#content {
	float: left;
	width: 64%; /* 4% for margin */
}

/* Byline. */
.hfeed-more-articles .byline {
	margin-bottom: 0.8em;
}

#main .wrap {
	-moz-box-shadow: 0 1px 3px #8493a6;
	-webkit-box-shadow: 0 1px 3px #8493a6;
	box-shadow: 0 1px 3px #8493a6;
	margin: 3px auto 2em;
}

/* Sidebars. */
#sidebar-primary {
	float: right;
	margin: 0;
	padding: 0;
	width: 32%;
}

/* Comment form paragraphs. */
#respond p.form-author {
	float: left;
	width: 50%;
}
#respond p.form-email {
	float: right;
	overflow: hidden;
	width: 50%;
}
#respond p.form-author input[type="text"] {
	width: 90%;
}
#respond p.form-email input[type="text"],
#respond p.form-email label {
	width: 90%;
	float: right;
}
#respond p.form-url {
	clear: both;
}

/* Copyright and credit in footer. */
#footer .copyright, #footer .credit {
	float: left;
	text-align: left;
	width: 50%;
}
#footer .credit {
	text-align: right;
}

#footer p {
    margin-top: 0;
}

/* Comments. */
.comment-list ol.children {
	margin-left: 2%;
}

/* Subsidiary. */
#sidebar-subsidiary .widget {
	float: left;
	margin-right: 4%;
	width: 21%;
}

/* =Layouts
-------------------------------------------------------------- */

/* One column. */
.layout-1c #content {
	float: none;
	margin-right: 0;
	width: 100%;
}

/* Two columns. */
.layout-2c-l #content,
.layout-default #content,
.layout-3c-l #content,
.layout-3c-c #content {
	float: left;
	width: 64%; /* 4% for margin */
}
.layout-2c-l #sidebar-primary,
.layout-default #sidebar-primary,
.layout-2c-l #sidebar-secondary,
.layout-default #sidebar-secondary,
.layout-3c-l #sidebar-primary,
.layout-3c-l #sidebar-secondary,
.layout-3c-c #sidebar-primary,
.layout-3c-c #sidebar-secondary {
	float: right;
	width: 32%;
}
.layout-2c-l #sidebar-secondary,
.layout-default #sidebar-secondary,
.layout-3c-l #sidebar-secondary,
.layout-3c-c #sidebar-secondary {
	clear: right;
}
.layout-2c-r #content,
.layout-3c-r #content {
    float: right;
	width: 64%; /* 4% for margin */
}
.layout-2c-r #sidebar-primary,
.layout-2c-r #sidebar-secondary,
.layout-3c-r #sidebar-primary,
.layout-3c-r #sidebar-secondary {
    float: left;
	width: 32%;
}
.layout-2c-r #sidebar-secondary,
.layout-3c-r #sidebar-secondary {
	clear: left;
}

}

/* =Layout for somewhere in the middle version 
-------------------------------------------------------------- */

@media only screen and (min-width: 60em) {

.custom-header #site-description {
	padding-top: 2.25em;
}

/* Pullquote Shortcode Plugin CSS. */
.pullquote {
	float: right;
	margin: 0.625em 0 0.625em 1.25em;
}

}

/* =Layout for desktop version 
-------------------------------------------------------------- */

@media only screen and (min-width: 70em) {

/* Comments for desktop. */
.comment-list ol.children {
	margin-left: 1em;
}
.comment-list .avatar {
	float: left;
}
.comment-list li li.has-avatar .comment-text {
	margin-left: 3.75em;
	overflow: hidden;
}

/* Slider Page Template. */
.page-template-path-slider #content .hentry {
	float: left;
	border-bottom: none;
	margin: 0 4% 0 0;
	width: 48%;
}
.page-template-path-slider #content .last {
	margin: 0;
}
.page-template-path-slider #content .path-line {
	border-bottom: 1px solid #e9edf1;
	margin-bottom: 1.5em;
}
.page-template-path-slider #slider-content .hentry {
	float: none;
	margin: 0;
	width: 100%;
}
.page-template-path-slider #content .path-thumbnail {
	float: none;
}
.page-template-path-slider #content .entry-header {
	text-align: center;
}
.page-template-path-slider #content .hfeed-more-articles .entry-header,
.page-template-path-slider #slider-content .entry-header {
	text-align: left;
}
.page-template-path-slider #content .hfeed-more-articles h2 {
	font-size: 1.25em;
}

/* layout-3c-l. */
.layout-3c-l #content {
	float: left;
	width: 46%;
}
.layout-3c-l #sidebar-primary,
.layout-3c-l #sidebar-secondary {
	float: left;
	width: 23%;
	margin: 0 0 0 4%;
}
.layout-3c-l #sidebar-secondary {
	clear: none;
}

/* layout-3c-r. */
.layout-3c-r #content {
	float: right;
	width: 46%;
}
.layout-3c-r #sidebar-primary,
.layout-3c-r #sidebar-secondary {
	float: left;
	width: 23%;
	margin: 0 4% 0 0;
}
.layout-3c-r #sidebar-secondary {
	clear: none;
}

/* layout-3c-c. */
.layout-3c-c #content {
	float: left;
	margin-left: 27%;
	width: 46%;
}
.layout-3c-c #sidebar-primary {
	float: left;
	margin-left: -73%;
	width: 23%;
}
.layout-3c-c #sidebar-secondary {
	float: right;
	width: 23%;
}
.layout-3c-c #sidebar-secondary {
	clear: none;
}

/* Width. */
.layout-3c-l #menu-primary .wrap,
.layout-3c-r #menu-primary .wrap,
.layout-3c-c #menu-primary .wrap,
.layout-3c-l #menu-secondary .wrap,
.layout-3c-r #menu-secondary .wrap,
.layout-3c-c #menu-secondary .wrap,
.layout-3c-l #main .wrap,
.layout-3c-r #main .wrap,
.layout-3c-c #main .wrap,
.layout-3c-l #header,
.layout-3c-r #header,
.layout-3c-c #header,
.layout-3c-l #sidebar-subsidiary .wrap,
.layout-3c-r #sidebar-subsidiary .wrap,
.layout-3c-c #sidebar-subsidiary .wrap,
.layout-3c-l #menu-subsidiary .wrap,
.layout-3c-r #menu-subsidiary .wrap,
.layout-3c-c #menu-subsidiary .wrap {
	max-width: 64em;
}
.layout-3c-l #footer .wrap,
.layout-3c-r #footer .wrap,
.layout-3c-c #footer .wrap {
	max-width: 73.1428571em; /* 64 * ( 16 px / 14 px ) = 73.1428571 */
	padding-bottom: 1em;
}

/* WP calendar. */
.layout-3c-l #sidebar-primary #wp-calendar th,
.layout-3c-l #sidebar-secondary #wp-calendar th,
.layout-3c-r #sidebar-primary #wp-calendar th,
.layout-3c-r #sidebar-secondary #wp-calendar th,
.layout-3c-c #sidebar-primary #wp-calendar th,
.layout-3c-c #sidebar-secondary #wp-calendar th,
.layout-3c-l #sidebar-primary #wp-calendar td,
.layout-3c-l #sidebar-secondary #wp-calendar td,
.layout-3c-r #sidebar-primary #wp-calendar td,
.layout-3c-r #sidebar-secondary #wp-calendar td,
.layout-3c-c #sidebar-primary #wp-calendar td,
.layout-3c-c #sidebar-secondary #wp-calendar td {
	padding: 2px 1px;
}

}